/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #698996;
    font-family: 'Vesper Libre', serif;
}

a {
    color: unset;
    text-decoration: none;
}

h1, h2 {
    text-decoration: underline;
    font-family: 'Viaoda Libre', cursive;
    /* font-size: 3rem; */
}

nav>img {
    float:left;
    height: 50px;
    margin: .5rem;
}

/* Header */

header>div>nav {
    background-color: #407076;
    height: 75px;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
}

header>div>nav>h1 {
    text-align: center;
    padding: 1rem;
    float: left;
    font-size: 2rem;
}

header>div>nav>ul {
    list-style: none;
    float: right;
}

header>div>nav>ul>li {
    display: inline-block;
    margin: 1.5rem .5rem;
}

header>div>nav>ul>li>a {
    border: 1px solid;
    margin: 5px;
    background-color: #ebbab9;
    padding: .5rem 1.5rem;
    border-radius: 20px;
    /* margin: 1.5rem; */
}

header>div>nav>ul>li>a:hover {
    border:1px solid white;
    background-color: #698996;
    color: #ebbab9;
}

header #hero {
    background-image: 
    url("../images/salon-hero.jpg");
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: relative;
}

#hero-text {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 25%;
    color: #407076;
    font-size: 4.5rem;
}

/* Body  */

body>main>div>img {
    display: inline-block;
}

.home {
    height: 350px;
    width: 350px;
}

body>h1 {
    margin: 2.5rem;
    text-align: center;
}

body>main {
    margin: 1rem auto;
    width: 75%;
    padding: 1.5rem;
    background-color: #c9c5ba;
    
}

/* .bottom {
    background-color: #c9c5ba;
    width: 250px;
    height: 250px;
    /* display: inline-block; */
    /* margin: auto;
} */ 

/* #social {
    width: 35%;
    height: 350px;
    margin: 2rem auto;
    background-color: #c9c5ba;
} */

i {
    font-size: 50px;
    padding: .5rem;
    margin: 0 1.5rem 1.5rem 1.5rem;
    color: #407076;
    float: right;
}

.column {
    float: left;
    width: 40%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

body>div>h2 {
    text-align: center;
}


/* About page */
.about-section {
    background-color: #c9c5ba;
    margin: auto;
    width: 60%;
    padding: 2rem;
}

/* div>ul>li {
    list-style: none;
} */



/* .gallery {
    background-color: #c9c5ba;
    margin: 10px auto;
    width: 90%;
} */

/* about page */
main>h2 {
    text-align: center;
    margin: 1.5rem;
}



main>ul>li {
    padding: .5rem;
}


footer {
    background-color: #ebbab9;
    height: 125px;
}

.radius {
    border-radius: 10px;
}